WpfApp1/Connected Services/VelibServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VelibGatewayWS" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibService_GetContractsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsList" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetContractsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsListResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStationsByContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByContract" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStationsByContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByContractResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_SearchContract_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchContract" />
  </wsdl:message>
  <wsdl:message name="IVelibService_SearchContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchContractResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibService">
    <wsdl:operation name="GetContractsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetContractsList" message="tns:IVelibService_GetContractsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetContractsListResponse" message="tns:IVelibService_GetContractsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsByContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetStationsByContract" message="tns:IVelibService_GetStationsByContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetStationsByContractResponse" message="tns:IVelibService_GetStationsByContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/SearchContract" message="tns:IVelibService_SearchContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/SearchContractResponse" message="tns:IVelibService_SearchContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetDataUsingDataContract" message="tns:IVelibService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetDataUsingDataContractResponse" message="tns:IVelibService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelibService" type="tns:IVelibService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContractsList">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetContractsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsByContract">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetStationsByContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContract">
      <soap:operation soapAction="http://tempuri.org/IVelibService/SearchContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibService">
    <wsdl:port name="BasicHttpBinding_IVelibService" binding="tns:BasicHttpBinding_IVelibService">
      <soap:address location="http://localhost:8733/VelibGatewayWS/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>